<?xml version="1.0" encoding="utf-8"?>
<manifest 
  xmlns:android="http://schemas.android.com/apk/res/android"         
  package="yeticoach.yeticoach" 
  android:versionCode="1" 
  android:versionName="1.0">
  
	<uses-sdk 
    android:targetVersion="20"
    android:minSdkVersion="23" />
  
	<application android:label="yeticoach">
    <activity
      android:name="com.">
      
    </activity>
  </application>
</manifest>